<h1><strong>Bio</strong></h1>

<p>I moved to London from Poznan, Poland in 2015. After graduating in 2019 with a Bachelor’s Degree in Russian Studies, I asked myself what I really wanted to do in my life. <br><br>Since I always had a drag to computer science, I started to read some more about coding and did a couple of programming courses online. It started to get a bit more serious during the lockdown in March 2020 - I had more time to develop my new hobby and that led me to joining a coding bootcamp with Le Wagon a few months later. 
<br><br>During the intensive 9-week course I learned a few programming languages and gained a valuable understanding of technical workflow in a web developer role.<br><br>Having finished the bootcamp I continue to learn new languages and expand my skills, as well as work on some personal and team projects.
</p>