<h1><strong>Contact</strong></h1>
<br><br>
  <p>If you like my work and are interested in a collaboration - get in touch!</p>
  <br>
        <ul class="d-block text-center" style="list-style-type:none;">
          <li><a href="mailto:karolinalangner1@gmail.com"><i class="far fa-envelope"></i> karolinalangner1@gmail.com</a></li>
          <br>
          <li><a href="http://linkedin.com/in/karolina-langner"><i class="fab fa-linkedin"></i>/karolina-langner</a></li>
          <br>
          <li><a href="http://github.com/karolinalangner"><i class="fab fa-github-square"></i>/karolinalangner</a></li>
        </ul>