
    <h1><strong>Welcome to my portfolio</strong></h1>
    <br>
    <p>My name is Karolina.<br>
    I am a Full Stack Web Developer.<br>
    Originally from Poland.<br>
    Currently based in London.</p>
