
.footer {
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    padding: 0px 50px;
    bottom: 0;
    
    p {
        color: rgba(0,0,0,0.5)    
    }
}

@media only screen and (max-width: 580px) {
    .footer {
        display: flex;
        margin-top: 55px;
    }
}
