.logo {
    position: sticky;
    top:0;
    height: 28px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.8) 2px 3px 10px;
    
    .menu {
        display: none;
    }

    a {
        color: rgba(0,0,0,0.87);
        font-family: 'Roboto Slab', serif;
      
    }
    a:hover {
        text-decoration: none;
        text-shadow:  rgba(0, 0, 0, 0.19) 4px 5px 1px;

    }
}

@media only screen and (max-width: 580px) {
    .logo .menu {
      display: block;
      margin: 0;
      position: absolute;
      margin-top: 5px;
    }
  }
  