.navbar {
  display: flex;
  flex-direction: column;
  width: 12%;
  height: 100vh;
  padding: 5% 20px 10px 20px;
  justify-content: space-between;
  position: sticky;
  top:0;
  font-family:  'Roboto Slab', serif;

  .menu-item {
    a {
      color: black;
    }
  }
  .menu-item.bold{
    font-weight: bold;
  }
  .menu-item.bold:hover{
    text-shadow: none;
  }

  .menu-item:hover {
    text-shadow:  rgba(0, 0, 0, 0.19) 4px 5px 1px;
    
    a{
      text-decoration: none;
      color: black;
    }
  
  }

  .social {
    text-align: center;
    margin-bottom: 15px;
    a {
      color: rgba(0, 0, 0, 0.836);
    }

    i {
      margin: 25px 5px 0 5px;
    }
    i:hover {
      text-shadow:  rgba(0, 0, 0, 0.19) 4px 5px 1px;
    }
  }

  .copyright{
    small {
      color: rgba(0,0,0,0.5);  
    }
  }
}

@media only screen and (max-width: 580px) {
.navbar {
  display: none;
}
}



